amqp==5.3.1
asgiref==3.10.0
billiard==4.2.4
boto3==1.42.67
botocore==1.42.67
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==5.2.7
django-appconf==1.2.0
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-filter==25.2
django-storages==1.14.6
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.11
inflection==0.5.1
jmespath==1.1.0
kombu==5.6.2
packaging==25.0
prompt_toolkit==3.0.52
psycopg==3.3.3
PyJWT==2.10.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0