{% load static %}

</div>





<!-- FOOTER -->

<!-- <footer class="footer">

            <div class="container">

                <div class="row align-items-center flex-row-reverse">

                    <div class="col-md-12 col-sm-12 text-center">

                        Copyright © <span id="year"></span> <a href="">Sportivo Admin</a> All rights reserved.

                    </div>

                </div>

            </div>

        </footer> -->

<!-- FOOTER END -->



</div>



<!-- BACK-TO-TOP -->

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>



<!-- JQUERY JS -->

<script src="{% static 'superadmin/assets/js/jquery.min.js' %}"></script>



<!-- BOOTSTRAP JS -->

<script src="{% static 'superadmin/assets/plugins/bootstrap/js/popper.min.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>



<!-- SPARKLINE JS-->

<script src="{% static 'superadmin/assets/js/jquery.sparkline.min.js' %}"></script>



<!-- Sticky js -->

<script src="{% static 'superadmin/assets/js/sticky.js' %}"></script>



<!-- CHART-CIRCLE JS-->









<!-- SIDEBAR JS -->

<script src="{% static 'superadmin/assets/plugins/sidebar/sidebar.js' %}"></script>







<!-- INTERNAL Flot JS -->

<script src="{% static 'superadmin/assets/plugins/flot/jquery.flot.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/flot/jquery.flot.fillbetween.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/p-scroll/pscroll.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/p-scroll/pscroll-1.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/flot/dashboard.sampledata.js' %}"></script>







<!-- SIDE-MENU JS-->

<script src="{% static 'superadmin/assets/plugins/sidemenu/sidemenu.js' %}"></script>



<script src="{% static 'superadmin/assets/plugins/date-picker/date-picker.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/date-picker/jquery-ui.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/input-mask/jquery.maskedinput.js' %}"></script>



<script src="{% static 'superadmin/assets/plugins/fileuploads/js/fileupload.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/fileuploads/js/file-upload.js' %}"></script>



<script src="{% static 'superadmin/assets/plugins/select2/select2.full.min.js' %}"></script>

<script src="{% static 'superadmin/assets/js/select2.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/multipleselect/multiple-select.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/multipleselect/multi-select.js' %}"></script>

<!-- Color Theme js -->

<script src="{% static 'superadmin/assets/js/themeColors.js' %}"></script>



<!-- CUSTOM JS -->

<script src="{% static 'superadmin/assets/js/custom.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/summernote/summernote1.js' %}"></script>

<script src="{% static 'superadmin/assets/js/summernote.js' %}"></script>



<script src="{% static 'superadmin/assets/plugins/gallery/picturefill.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lightgallery.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lightgallery-1.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lg-pager.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lg-autoplay.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lg-fullscreen.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lg-zoom.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lg-hash.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/gallery/lg-share.js' %}"></script>

<script src="{% static 'superadmin/assets/js/formelementadvnced.js' %}"></script>

<script src="{% static 'superadmin/assets/js/form-elements.js' %}"></script>



<script src="{% static 'superadmin/assets/js/custom-js-new.js' %}"></script>



<script src="{% static 'superadmin/assets/plugins/time-picker/jquery.timepicker.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/time-picker/toggles.min.js' %}"></script>

<script src="{% static 'superadmin/assets/js/show-password.min.js' %}"></script>
<script src="{% static 'superadmin/assets/plugins/bootstrap-daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'superadmin/assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'superadmin/assets/js/formelementadvnced.js' %}"></script>
<script src="{% static 'superadmin/assets/js/form-elements.js' %}"></script>

<script src="{% static 'superadmin/assets/plugins/notify/js/rainbow.js' %}"></script>
<script src="{% static 'superadmin/assets/plugins/notify/js/sample.js' %}"></script>
<script src="{% static 'superadmin/assets/plugins/notify/js/notifIt.js' %}"></script>
<script src="{% static 'superadmin/custom/custom.js' %}"></script>
<script src="{% static 'employee/task/task.js' %}"></script>


<script>
    function not1() {
        notif({
            msg: "<b>Success:</b> Content Updated Successfully",
            type: "success"
        });
    }

    function not2() {
        notif({
            msg: "<b>Oops!</b> An Error Occurred",
            type: "error",
            position: "center"
        });
    }

    $('.fc-datepicker').datepicker({
        showOtherMonths: false,
        selectOtherMonths: false
    });
</script>
<script>
    function initializeSelect2() {
        $('.select2').select2({
            //minimumResultsForSearch: Infinity,  
            width: '100%'
        });
    }

    $(document).ready(function () {
        initializeSelect2();

        $('.multi-field-wrapper').each(function () {
            var $wrapper = $('.multi-fields', this);

            $(".add-field", $(this)).click(function (e) {
                var $clone = $('.multi-field:first-child', $wrapper).clone();
                $clone.find('input,textarea').val('');
                $clone.find('.select2-container')
                    .remove(); // Remove the existing select2 container
                $clone.find('select').removeClass('select2-hidden-accessible').next('.select2')
                    .remove();
                $clone.appendTo($wrapper);
                $clone.find('select').select2({
                    minimumResultsForSearch: Infinity,
                    width: '100%'
                });
            });

            $wrapper.on('click', '.remove-field', function () {
                if ($('.multi-field', $wrapper).length > 1) {
                    $(this).closest('.multi-field').remove();
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function(){
      $(".productive_card").click(function(){
        $("#productive_table_section").css("display", "block");
      });
    });
  </script>
</body>



</html>