<!doctype html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'superadmin/assets/images_ex/icon.png' %}" />
  <!-- TITLE -->
  <title>CMS - OrthobotX</title>
  <!-- BOOTSTRAP CSS -->
  <link id="style" href="{% static 'superadmin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <!-- STYLE CSS -->
  <link href="{% static 'superadmin/assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'superadmin/assets/css/dark-style.css' %}" rel="stylesheet" />
  <link href="{% static 'superadmin/assets/css/transparent-style.css' %}" rel="stylesheet">
  <link href="{% static 'superadmin/assets/css/skin-modes.css' %}" rel="stylesheet" />
  <link href="{% static 'superadmin/assets/css/style-custom.css' %}" rel="stylesheet" />
  <!--- FONT-ICONS CSS -->
  <link href="{% static 'superadmin/assets/css/icons.css' %}" rel="stylesheet" />
  <link href="{% static 'employee/task/task-style.css' %}" rel="stylesheet" />

  <!-- COLOR SKIN CSS -->
  <link id="theme" rel="stylesheet" type="text/css" media="all"
    href="{% static 'superadmin/assets/colors/color1.css' %}" />
</head>

<body class="app sidebar-mini ltr light-mode sidenav-toggled ">
  <!-- PAGE -->
  <div class="page">
    <div class="page-main">
      <!-- app-Header -->
      <div class="app-header header sticky">
        <div class="container-fluid main-container">
          <div class="d-flex header_nav">
            <!-- <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
              href="javascript:void(0)"></a> -->
            <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
              href="javascript:void(0)"></a>
            <!-- sidebar-toggle-->
            <a class="logo-horizontal " href="{% url 'dashboard_view' %}">
              <img src="{% static 'superadmin/assets/images_ex/logo.png' %}" class="header-brand-img desktop-logo"
                alt="logo">
              <img src="{% static 'superadmin/assets/images_ex/logo.png' %}" class="header-brand-img light-logo1"
                alt="logo">
            </a>
            <div class="d-flex order-lg-2 ms-auto header-right-icons">
              <div class="d-flex country">
                <div class="dropdown  d-flex notifications">
                  <a class="nav-link icon" data-bs-toggle="dropdown"><i class="fe fe-bell"></i><span
                      class=" pulse"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <div class="drop-heading border-bottom">
                      <div class="d-flex">
                        <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">Notifications
                        </h6>
                      </div>
                    </div>
                    <div class="notifications-menu">
                      <a class="dropdown-item d-flex" href="notify-list.html">
                        <div class="me-3 notifyimg  bg-primary brround box-shadow-primary">
                          <i class="fe fe-mail"></i>
                        </div>
                        <div class="mt-1 wd-80p">
                          <h5 class="notification-label mb-1">New Application received
                          </h5>
                          <span class="notification-subtext">3 days ago</span>
                        </div>
                      </a>
                      <a class="dropdown-item d-flex" href="notify-list.html">
                        <div class="me-3 notifyimg  bg-secondary brround box-shadow-secondary">
                          <i class="fe fe-check-circle"></i>
                        </div>
                        <div class="mt-1 wd-80p">
                          <h5 class="notification-label mb-1">Project has been
                            approved</h5>
                          <span class="notification-subtext">2 hours ago</span>
                        </div>
                      </a>
                      <a class="dropdown-item d-flex" href="notify-list.html">
                        <div class="me-3 notifyimg  bg-success brround box-shadow-success">
                          <i class="fe fe-shopping-cart"></i>
                        </div>
                        <div class="mt-1 wd-80p">
                          <h5 class="notification-label mb-1">Your Product Delivered
                          </h5>
                          <span class="notification-subtext">30 min ago</span>
                        </div>
                      </a>
                      <a class="dropdown-item d-flex" href="notify-list.html">
                        <div class="me-3 notifyimg bg-pink brround box-shadow-pink">
                          <i class="fe fe-user-plus"></i>
                        </div>
                        <div class="mt-1 wd-80p">
                          <h5 class="notification-label mb-1">Friend Requests</h5>
                          <span class="notification-subtext">1 day ago</span>
                        </div>
                      </a>
                    </div>
                    <div class="dropdown-divider m-0"></div>
                    <a href="notify-list.html" class="dropdown-item text-center p-3 text-muted">View all
                      Notification</a>
                  </div>
                </div>
                <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                  <span class="dark-layout">
                    <i class="fe fe-moon"></i>
                  </span>
                  <span class="light-layout">
                    <i class="fe fe-sun"></i>
                  </span>
                </a>
              </div>
              <div class="dropdown d-flex profile-1">
                <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                  <img src="{% static 'superadmin/assets/images_ex/user.png' %}" alt="profile-user"
                    class="avatar  profile-user brround cover-image">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <div class="drop-heading">
                    <div class="text-center">
                      <h5 class="text-dark mb-0 fs-14 fw-semibold">{{request.user}}</h5>
                      <small class="text-muted">User</small>
                    </div>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <!--  -->
                  <a class="dropdown-item" href="{% url 'logout_view' %}">
                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /app-Header -->
      <!--APP-SIDEBAR-->
      <div class="sticky">
        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
        <div class="app-sidebar">
          <div class="side-header">
            <a class="header-brand1" href="{% url 'dashboard_view' %}">
              <img src="{% static 'superadmin/assets/images_ex/iconpng' %}" class="header-brand-img desktop-logo"
                alt="logo">
              <img src="{% static 'superadmin/assets/images_ex/icon.png' %}" class="header-brand-img toggle-logo"
                alt="logo">
              <img src="{% static 'superadmin/assets/images_ex/icon.png' %}" class="header-brand-img light-logo"
                alt="logo">
              <img src="{% static 'superadmin/assets/images_ex/icon.png' %}" class="header-brand-img light-logo1"
                alt="logo">
            </a>
            <!-- LOGO -->
          </div>
          <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left">
              <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
              </svg>
            </div>
            <ul class="side-menu">
              <!-- <li class="sub-category">
                <h3>Main</h3>
              </li> -->

              {% if perms.superadmin.can_view_dashboard %}
              <li class="slide">
                <a class="side-menu__item has-link {% if path == 'home' %}active{% endif %}" data-bs-toggle="slide"
                  href="{% url 'dashboard_view' %}">
                  <i class="side-menu__icon fe fe-home"></i>
                  <span class="side-menu__label">Dashboard</span>
                </a>
              </li>
              {% endif %}

              {% if perms.superadmin.view_user %}
              <li class="slide">
                <a class="side-menu__item has-link {% if path == 'user_management' %}active{% endif %}"
                  data-bs-toggle="slide" href="{% url 'user_list' %}">
                  <i class="side-menu__icon fe fe-users"></i>
                  <span class="side-menu__label">User Management</span>
                </a>
              </li>
              {% endif %}

              {% if perms.auth.view_group %}
              <li class="slide">
                <a class="side-menu__item has-link {% if path == 'role_management' %}active{% endif %}"
                  data-bs-toggle="slide" href="{% url 'role_list' %}">
                  <i class="side-menu__icon fe fe-shield"></i>
                  <span class="side-menu__label">Roles & Permissions</span>
                </a>
              </li>
              {% endif %}

              <li class="sub-category">
                <h3>Catalog Management</h3>
              </li>

              {% if perms.superadmin.manage_category %}
              <li class="slide">
                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'category_list' %}">
                  <i class="side-menu__icon fe fe-folder"></i>
                  <span class="side-menu__label">Categories</span>
                </a>
              </li>
              {% endif %}

              {% if perms.superadmin.manage_product %}
              <li class="slide">
                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'product_list' %}">
                  <i class="side-menu__icon fe fe-shopping-bag"></i>
                  <span class="side-menu__label">Products</span>
                </a>
              </li>
              {% endif %}

              <li class="sub-category">
                <h3>Master Data</h3>
              </li>

              {% if perms.superadmin.manage_product %}
              <li class="slide">
                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'variant_type_list' %}">
                  <i class="side-menu__icon fe fe-layers"></i>
                  <span class="side-menu__label">Variant Types</span>
                </a>
              </li>

              <li class="slide">
                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'product_model_list' %}">
                  <i class="side-menu__icon fe fe-box"></i>
                  <span class="side-menu__label">Product Models</span>
                </a>
              </li>

              <li class="slide">
                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'attribute_list' %}">
                  <i class="side-menu__icon fe fe-tag"></i>
                  <span class="side-menu__label">Attributes</span>
                </a>
              </li>

              {% endif %}



            </ul>
            <div class="slide-right" id="slide-right">
              <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
              </svg>
            </div>
          </div>
        </div>
        <!--/APP-SIDEBAR-->
      </div>