<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <!-- META DATA -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'superadmin/assets/images_ex/icon.png' %}"
    />
    <!-- TITLE -->
    <title> Login</title>
    <!-- BOOTSTRAP CSS -->
    <link
      id="style"
      href="{% static 'superadmin/assets/plugins/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <!-- STYLE CSS -->
    <link
      href="{% static 'superadmin/assets/css/style.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'superadmin/assets/css/style-custom.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'superadmin/assets/css/dark-style.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'superadmin/assets/css/transparent-style.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'superadmin/assets/css/skin-modes.css' %}"
      rel="stylesheet"
    />
    <!--- FONT-ICONS CSS -->
    <link
      href="{% static 'superadmin/assets/css/icons.css' %}"
      rel="stylesheet"
    />
    <!-- COLOR SKIN CSS -->
    <link
      id="theme"
      rel="stylesheet"
      type="text/css"
      media="all"
      href="{% static 'superadmin/assets/colors/color1.css' %}"
    />
  </head>

  <body class="app sidebar-mini ltr login-img">
    <!-- BACKGROUND-IMAGE -->
    <div class="">
      <!-- PAGE -->
      <div class="page">
        <div class="">
          <!-- CONTAINER OPEN -->
          <div class="container-login100">
            <div class="wrap-login100 p-6">
              <div class="col col-login mx-auto m-5">
                <div class="text-center">
                  <a href="index.php">
                    <img
                      src="{% static 'superadmin/assets/images_ex/icon.png' %}"
                      class="header-brand-img1"
                      alt=""
                    />
                  </a>
                </div>
              </div>
              {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert"
                  style="border-radius: 0;">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
      
              <form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                <div class="wrap-input100 validate-input input-group">
                  <a
                    href="javascript:void(0)"
                    class="input-group-text bg-white text-muted">
                    <i
                      class="zmdi zmdi-email text-muted"
                      aria-hidden="true"></i>
                  </a>
                  <input
                    class="input100 border-start-0 form-control ms-0"
                    type="text"
                    placeholder="username" name="uemail" required/>
                </div>

                <div
                  class="wrap-input100 validate-input input-group"
                  id="Password-toggle">
                  <a href="javascript:void(0)"
                    class="input-group-text bg-white text-muted">
                    <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                  </a>
                  <input
                    class="input100 border-start-0 form-control ms-0"
                    type="password"
                    placeholder="password" name="pass" required/>
                </div>

                <div class="container-login100-form-btn">
                  <button type="submit" class="login100-form-btn btn-primary">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- CONTAINER CLOSED -->
        </div>
      </div>
      <!-- End PAGE -->
    </div>
    <!-- BACKGROUND-IMAGE CLOSED -->
    <!-- JQUERY JS -->
    <script src="{% static 'superadmin/assets/js/jquery.min.js' %}"></script>
    <!-- BOOTSTRAP JS -->
    <script src="{% static 'superadmin/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- SHOW PASSWORD JS -->
    <script src="{% static 'superadmin/assets/js/show-password.min.js' %}"></script>
    <!-- GENERATE OTP JS -->
    <script src="{% static 'superadmin/assets/js/generate-otp.js' %}"></script>
    <!-- Perfect SCROLLBAR JS-->
    <script src="{% static 'superadmin/assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
    <!-- Color Theme js -->
    <script src="{% static 'superadmin/assets/js/themeColors.js' %}"></script>
    <!-- CUSTOM JS -->
    <script src="{% static 'superadmin/assets/js/custom.js' %}"></script>

    <script>
          // Automatically close Bootstrap alert messages after 5 seconds
          $(document).ready(function () {
              $(".alert").delay(5000).slideUp(300, function () {
                  $(this).alert('close');
              });
          });
      </script>
      
  </body>
</html>
