{% load custom_tags %}

<div class="modal-header">
    <h4>{{ project.name }}</h4>
    <button type="button" class="close__Btn" data-bs-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table border-top table-bordered mb-0 table-hover">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Department</th>
                    <th>Total Reports</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.employee__name }}</td>
                    <td>{{ employee.employee__department__name }}</td>
                    <td>{{ employee.total_reports }}</td>
                    <td>{{ employee.total_hours|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>