{% load custom_tags %}

<div class="modal-header">
    <h4>{{project.name}}</h4>
    <button type="button" class="close__Btn" data-bs-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table border-top table-bordered mb-0 table-hover">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Department</th>
                    <th>Amount</th>
                    <th>Hour</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in grouped_employees%}
                <tr>
                    <td>{{employee.daily_report__employee__name}}</td>
                    <td>{{employee.daily_report__employee__department__name}}</td>
                    <td>₹{{employee.total_spend|floatformat:0|indian_number|default:0}}</td>
                    <td>{{employee.total_hours}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>